path.Bob {stroke: #2e21ea;}
path.Bill {stroke: #3a1bef;}
path.Garfield {stroke: #491af2;}
path.Calvin {stroke: #571ef4;}
path.Bart {stroke: #6324f5;}
path.Thor {stroke: #6f2af7;}
path.Goku {stroke: #7a2ff8;}
path.Linus {stroke: #8535f9;}
path.Mulder {stroke: #9139fa;}
path.Jonny {stroke: #9d3dfb;}
path.Skinner {stroke: #aa3ffb;}
path.Oliver {stroke: #b741fb;}
path.Khan {stroke: #c543fa;}
path.Elmer {stroke: #d145f9;}
path.Hannibal {stroke: #dd48f8;}
path.Tom {stroke: #e74df6;}
path.Barney {stroke: #f057f0;}
path.Fred {stroke: #f562e9;}
path.Kyle {stroke: #f86ee0;}
path.Ned {stroke: #fa7ad6;}
path.Mario {stroke: #fb87cb;}
path.Bashful {stroke: #fb92c0;}
path.Dopey {stroke: #fb9db5;}
path.Sleepy {stroke: #fba8aa;}
path.Hungry {stroke: #fbb29e;}
path.Hal {stroke: #fbbb93;}
path.Claude {stroke: #fbc487;}
path.Jacques {stroke: #fccd7b;}
path.Phineas {stroke: #fcd66e;}
path.Ferb {stroke: #fbde5f;}
path.Riker {stroke: #f9e550;}
path.Homer {stroke: #f5eb40;}
path.Ralph {stroke: #ecee2e;}
path.Charles {stroke: #e3ed22;}
path.Howard {stroke: #d8eb1b;}
path.Dexter {stroke: #cce717;}
path.Rudy {stroke: #c1e315;}
path.Edwin {stroke: #b5de13;}
path.Arthur {stroke: #a9da12;}
path.Bert {stroke: #9cd511;}
path.Ernie {stroke: #90d10f;}
path.Milo {stroke: #83cd0e;}
path.Marvin {stroke: #76c80d;}
path.Luke {stroke: #68c30c;}
path.Bender {stroke: #5abf0c;}
path.Victor {stroke: #4bba0e;}
path.Icarus {stroke: #3db516;}
path.Daedalus {stroke: #34af21;}
path.Mack {stroke: #32a733;}
path.Verne {stroke: #37a042;}
path.Marcus {stroke: #3d9951;}
path.Loki {stroke: #429160;}
path.Herschel {stroke: #448a6e;}
path.Neil {stroke: #45827c;}
path.Pete {stroke: #437b8a;}
path.Victor {stroke: #3e7397;}
path.Isaac {stroke: #396ba4;}
path.Bruce {stroke: #3263b0;}
path.Zeke {stroke: #2d5abb;}
path.Jeffrey {stroke: #2950c5;}
path.Milton {stroke: #2646cf;}
path.Yoshi {stroke: #243ad9;}
path.Tony {stroke: #252ee1;}
