path.Bob {stroke: #2e21ea;}
path.Bill {stroke: #3a1bef;}
path.Garfield {stroke: #491af2;}
path.Calvin {stroke: #571ef4;}
path.Bart {stroke: #6324f5;}
path.Thor {stroke: #6f2af7;}
path.Goku {stroke: #7d31f8;}
path.Linus {stroke: #8836fa;}
path.Mulder {stroke: #943afa;}
path.Jonny {stroke: #a03dfb;}
path.Skinner {stroke: #ae40fb;}
path.Oliver {stroke: #be42fa;}
path.Khan {stroke: #cb44fa;}
path.Elmer {stroke: #d746f9;}
path.Hannibal {stroke: #e24af7;}
path.Tom {stroke: #eb50f4;}
path.Barney {stroke: #f35cec;}
path.Fred {stroke: #f768e4;}
path.Kyle {stroke: #f974db;}
path.Ned {stroke: #fa81d0;}
path.Mario {stroke: #fb8cc5;}
path.Bashful {stroke: #fb9ab8;}
path.Dopey {stroke: #fba5ad;}
path.Sleepy {stroke: #fbafa1;}
path.Hungry {stroke: #fbb996;}
path.Hal {stroke: #fbc28a;}
path.Claude {stroke: #fccd7b;}
path.Jacques {stroke: #fcd66e;}
path.Phineas {stroke: #fbde5f;}
path.Ferb {stroke: #f9e550;}
path.Riker {stroke: #f5eb40;}
path.Homer {stroke: #ecee2e;}
path.Ralph {stroke: #e3ed22;}
path.Charles {stroke: #d8eb1b;}
path.Howard {stroke: #cce717;}
path.Dexter {stroke: #c1e315;}
path.Rudy {stroke: #b2dd13;}
path.Edwin {stroke: #a6d912;}
path.Arthur {stroke: #99d410;}
path.Bert {stroke: #8dd00f;}
path.Ernie {stroke: #80cb0e;}
path.Milo {stroke: #6fc60c;}
path.Marvin {stroke: #61c10b;}
path.Luke {stroke: #52bc0c;}
path.Bender {stroke: #44b711;}
path.Victor {stroke: #38b21b;}
path.Icarus {stroke: #31ab2b;}
path.Daedalus {stroke: #34a43a;}
path.Mack {stroke: #3a9d4a;}
path.Verne {stroke: #409559;}
path.Marcus {stroke: #438e67;}
path.Loki {stroke: #458479;}
path.Herschel {stroke: #437d86;}
path.Neil {stroke: #407594;}
path.Pete {stroke: #3a6da0;}
path.Victor {stroke: #3465ad;}
path.Zeke {stroke: #2d5abb;}
path.Jeffrey {stroke: #2950c5;}
path.Milton {stroke: #2646cf;}
path.Yoshi {stroke: #243ad9;}
path.Tony {stroke: #252ee1;}
