path.Bob {stroke: #2e21ea;}
path.Bill {stroke: #3a1bef;}
path.Garfield {stroke: #4c1bf2;}
path.Calvin {stroke: #5d21f5;}
path.Bart {stroke: #6927f6;}
path.Thor {stroke: #782ef8;}
path.Goku {stroke: #8535f9;}
path.Linus {stroke: #943afa;}
path.Mulder {stroke: #a03dfb;}
path.Jonny {stroke: #b140fb;}
path.Skinner {stroke: #c143fa;}
path.Oliver {stroke: #d145f9;}
path.Khan {stroke: #dd48f8;}
path.Elmer {stroke: #e94ff5;}
path.Hannibal {stroke: #f259ee;}
path.Tom {stroke: #f768e4;}
path.Barney {stroke: #f974db;}
path.Fred {stroke: #fb84ce;}
path.Kyle {stroke: #fb92c0;}
path.Ned {stroke: #fba0b2;}
path.Mario {stroke: #fbaaa7;}
path.Bashful {stroke: #fbb799;}
path.Dopey {stroke: #fbc28a;}
path.Sleepy {stroke: #fccd7b;}
path.Hungry {stroke: #fcd66e;}
path.Hal {stroke: #fbe05c;}
path.Claude {stroke: #f7e848;}
path.Jacques {stroke: #f0ed35;}
path.Phineas {stroke: #e8ee28;}
path.Ferb {stroke: #dbeb1c;}
path.Riker {stroke: #cce717;}
path.Homer {stroke: #c1e315;}
path.Ralph {stroke: #b2dd13;}
path.Charles {stroke: #a3d811;}
path.Howard {stroke: #93d210;}
path.Dexter {stroke: #86ce0e;}
path.Rudy {stroke: #76c80d;}
path.Edwin {stroke: #65c20b;}
path.Arthur {stroke: #52bc0c;}
path.Bert {stroke: #44b711;}
path.Ernie {stroke: #35b11e;}
path.Milo {stroke: #31a92f;}
path.Marvin {stroke: #37a042;}
path.Luke {stroke: #3d9951;}
path.Bender {stroke: #439064;}
path.Victor {stroke: #458675;}
path.Icarus {stroke: #437d86;}
path.Daedalus {stroke: #407594;}
path.Mack {stroke: #396ba4;}
path.Verne {stroke: #3161b3;}
path.Marcus {stroke: #2b55c0;}
path.Loki {stroke: #284bca;}
path.Herschel {stroke: #253dd6;}
path.Neil {stroke: #252ee1;}
