path.Bob {stroke: #2e21ea;}
path.Bill {stroke: #371cee;}
path.Garfield {stroke: #451af1;}
path.Calvin {stroke: #531df3;}
path.Bart {stroke: #6022f5;}
path.Thor {stroke: #6c28f6;}
path.Goku {stroke: #782ef8;}
path.Linus {stroke: #8333f9;}
path.Mulder {stroke: #8e38fa;}
path.Jonny {stroke: #973bfa;}
path.Skinner {stroke: #a43efb;}
path.Oliver {stroke: #b140fb;}
path.Khan {stroke: #be42fa;}
path.Elmer {stroke: #cb44fa;}
path.Hannibal {stroke: #d746f9;}
path.Tom {stroke: #e24af7;}
path.Barney {stroke: #eb50f4;}
path.Fred {stroke: #f057f0;}
path.Kyle {stroke: #f562e9;}
path.Ned {stroke: #f86ee0;}
path.Mario {stroke: #fa7ad6;}
path.Bashful {stroke: #fb87cb;}
path.Dopey {stroke: #fb92c0;}
path.Sleepy {stroke: #fb9db5;}
path.Hungry {stroke: #fba8aa;}
path.Hal {stroke: #fbafa1;}
path.Claude {stroke: #fbb996;}
path.Jacques {stroke: #fbc28a;}
path.Phineas {stroke: #fbcb7e;}
path.Ferb {stroke: #fcd471;}
path.Riker {stroke: #fbdc63;}
path.Homer {stroke: #fae454;}
path.Ralph {stroke: #f6ea44;}
path.Charles {stroke: #f0ed35;}
path.Howard {stroke: #eaee2b;}
path.Dexter {stroke: #e0ed20;}
path.Rudy {stroke: #d5ea1a;}
path.Edwin {stroke: #c9e616;}
path.Arthur {stroke: #bee214;}
path.Bert {stroke: #b2dd13;}
path.Ernie {stroke: #a6d912;}
path.Milo {stroke: #99d410;}
path.Marvin {stroke: #90d10f;}
path.Luke {stroke: #83cd0e;}
path.Bender {stroke: #76c80d;}
path.Victor {stroke: #68c30c;}
path.Icarus {stroke: #5abf0c;}
path.Daedalus {stroke: #4bba0e;}
path.Mack {stroke: #3db516;}
path.Verne {stroke: #34af21;}
path.Marcus {stroke: #31ab2b;}
path.Loki {stroke: #34a43a;}
path.Herschel {stroke: #3a9d4a;}
path.Neil {stroke: #409559;}
path.Pete {stroke: #438e67;}
path.Victor {stroke: #458675;}
path.Isaac {stroke: #447f83;}
path.Bruce {stroke: #417790;}
path.Zeke {stroke: #3d719a;}
path.Jeffrey {stroke: #3769a7;}
path.Milton {stroke: #3161b3;}
path.Yoshi {stroke: #2c58be;}
path.Tony {stroke: #284ec8;}
path.Jackson {stroke: #2643d2;}
path.Sam {stroke: #2437db;}
path.Hank {stroke: #262be3;}
