path.Bob {stroke: #2e21ea;}
path.Bill {stroke: #3a1bef;}
path.Garfield {stroke: #491af2;}
path.Calvin {stroke: #571ef4;}
path.Bart {stroke: #6324f5;}
path.Thor {stroke: #6f2af7;}
path.Goku {stroke: #7a2ff8;}
path.Linus {stroke: #8535f9;}
path.Mulder {stroke: #9139fa;}
path.Jonny {stroke: #9d3dfb;}
path.Skinner {stroke: #aa3ffb;}
path.Oliver {stroke: #b741fb;}
path.Khan {stroke: #c543fa;}
path.Elmer {stroke: #d145f9;}
path.Hannibal {stroke: #dd48f8;}
path.Tom {stroke: #e74df6;}
path.Barney {stroke: #ef55f1;}
path.Fred {stroke: #f45feb;}
path.Kyle {stroke: #f76be2;}
path.Ned {stroke: #f977d8;}
path.Mario {stroke: #fb84ce;}
path.Bashful {stroke: #fb8fc3;}
path.Dopey {stroke: #fb9ab8;}
path.Sleepy {stroke: #fba5ad;}
path.Hungry {stroke: #fbafa1;}
path.Hal {stroke: #fbb996;}
path.Claude {stroke: #fbc28a;}
path.Jacques {stroke: #fbcb7e;}
path.Phineas {stroke: #fcd471;}
path.Ferb {stroke: #fbdc63;}
path.Riker {stroke: #fae454;}
path.Homer {stroke: #f6ea44;}
path.Ralph {stroke: #f0ed35;}
path.Charles {stroke: #e8ee28;}
path.Howard {stroke: #ddec1e;}
path.Dexter {stroke: #d2e919;}
path.Rudy {stroke: #c6e516;}
path.Edwin {stroke: #bbe014;}
path.Arthur {stroke: #afdc13;}
path.Bert {stroke: #a3d811;}
path.Ernie {stroke: #96d310;}
path.Milo {stroke: #8acf0f;}
path.Marvin {stroke: #7dca0d;}
path.Luke {stroke: #6fc60c;}
path.Bender {stroke: #61c10b;}
path.Victor {stroke: #52bc0c;}
path.Pete {stroke: #44b711;}
path.Icarus {stroke: #38b21b;}
path.Daedalus {stroke: #31ac28;}
path.Mack {stroke: #33a636;}
path.Verne {stroke: #399e46;}
path.Marcus {stroke: #3e9755;}
path.Loki {stroke: #439064;}
path.Herschel {stroke: #458872;}
path.Neil {stroke: #448080;}
path.Isaac {stroke: #42798d;}
path.Bruce {stroke: #3d719a;}
path.Zeke {stroke: #3769a7;}
path.Jeffrey {stroke: #3161b3;}
path.Milton {stroke: #2c58be;}
path.Tony {stroke: #284ec8;}
path.Jackson {stroke: #2643d2;}
path.Sam {stroke: #2437db;}
path.Hank {stroke: #262be3;}
