path.Bob {stroke: #2e21ea;}
path.Bill {stroke: #371cee;}
path.Garfield {stroke: #451af1;}
path.Calvin {stroke: #531df3;}
path.Bart {stroke: #6022f5;}
path.Thor {stroke: #6c28f6;}
path.Goku {stroke: #782ef8;}
path.Linus {stroke: #8333f9;}
path.Mulder {stroke: #8e38fa;}
path.Jonny {stroke: #9a3cfb;}
path.Skinner {stroke: #a73ffb;}
path.Oliver {stroke: #b441fb;}
path.Khan {stroke: #c143fa;}
path.Elmer {stroke: #ce45fa;}
path.Hannibal {stroke: #da47f9;}
path.Tom {stroke: #e54bf6;}
path.Barney {stroke: #ed52f3;}
path.Fred {stroke: #f259ee;}
path.Kyle {stroke: #f665e6;}
path.Ned {stroke: #f971dd;}
path.Mario {stroke: #fa7ed3;}
path.Bashful {stroke: #fb89c8;}
path.Dopey {stroke: #fb95bd;}
path.Sleepy {stroke: #fba0b2;}
path.Hungry {stroke: #fbaaa7;}
path.Hal {stroke: #fbb49c;}
path.Claude {stroke: #fbbe90;}
path.Jacques {stroke: #fbc784;}
path.Phineas {stroke: #fccf77;}
path.Ferb {stroke: #fcd86a;}
path.Riker {stroke: #fbe05c;}
path.Homer {stroke: #f8e74c;}
path.Ralph {stroke: #f3ec3c;}
path.Charles {stroke: #eeee31;}
path.Howard {stroke: #e5ee25;}
path.Dexter {stroke: #dbeb1c;}
path.Rudy {stroke: #cfe818;}
path.Edwin {stroke: #c4e415;}
path.Arthur {stroke: #b8df14;}
path.Bert {stroke: #acdb12;}
path.Ernie {stroke: #a0d711;}
path.Milo {stroke: #93d210;}
path.Marvin {stroke: #86ce0e;}
path.Luke {stroke: #79c90d;}
path.Bender {stroke: #6cc50c;}
path.Victor {stroke: #5dc00b;}
path.Icarus {stroke: #4fbb0d;}
path.Daedalus {stroke: #40b613;}
path.Mack {stroke: #35b11e;}
path.Verne {stroke: #31ac28;}
path.Marcus {stroke: #33a636;}
path.Loki {stroke: #399e46;}
path.Herschel {stroke: #3e9755;}
path.Neil {stroke: #439064;}
path.Pete {stroke: #458872;}
path.Victor {stroke: #448080;}
path.Isaac {stroke: #42798d;}
path.Bruce {stroke: #3d719a;}
path.Zeke {stroke: #3769a7;}
path.Jeffrey {stroke: #3161b3;}
path.Milton {stroke: #2c58be;}
path.Yoshi {stroke: #284ec8;}
path.Tony {stroke: #2643d2;}
path.Jackson {stroke: #2437db;}
path.Sam {stroke: #262be3;}
