{% extends "bootstrap/base.html" %}

{% block navbar %}
    {{ nav.navbar.render() }}
{% endblock %}

{% block content %}
    <style>
        .node circle {
            fill: #999;
        }

        .node text {
            font: 10px sans-serif;
        }

        .node--internal circle {
            fill: #555;
        }

        .node--internal text {
            text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
        }

        .level-0 {
            opacity: 0;
        }

        .link {
            fill: none;
            stroke: #555;
            stroke-opacity: 0.4;
            stroke-width: 1.5px;
        }

    </style>
    <svg width="960" height="2000"></svg>
{% endblock %}

{% block scripts %}
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="static/js/genealogy.js"></script>
{% endblock %}