<!DOCTYPE html>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="static/css/style.css" media="all"/>
<link rel="stylesheet" type="text/css" href="css/bob_styles.css" media="all"/>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.7/es5-shim.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.0/es6-shim.js"></script>
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://cdn.rawgit.com/google/palette.js/master/palette.js"></script>
<script src="static/js/narrative.js"></script>
<script src="static/js/chart.js"></script>

<div>All books</div>
<div id="all_books"></div>
<div>Book 1</div>
<div id="book1"></div>
<div>Book2</div>
<div id="book2"></div>
<div>Book 3</div>
<div id="book3"></div>
</body>
