{% extends "bootstrap/base.html" %}

{% block navbar %}
    {{ nav.navbar.render() }}
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="static/css/style.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="css/bob_styles.css" media="all"/>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.7/es5-shim.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.0/es6-shim.js"></script>
    <script type="text/javascript" src="//d3js.org/d3.v4.js"></script>
    <script type="text/javascript" src="//d3js.org/queue.v1.min.js"></script>
    <script type="text/javascript" src="static/js/timeline.js"></script>
{% endblock %}

{% block content %}
    <svg width="960" height="500"></svg>
{% endblock %}
